.article {
    padding-top: 126px;
    padding-bottom: 150px;
    background: #F4F8FF;
}

.article .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__title {
    font-family: 'Cardo';
    font-size: 42px;
    color: #1B3764;
}

.article .tea__line {
    margin-top: 20px;
}

.article__list {
    margin-top: 42px;
    display: flex;
}

.article__item {
    width: 420px;
    margin-right: 20px;
}

.article__item:last-child {
    margin-right: 0px;
}

.article__item__title {
    font-family: 'Cardo';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.24px;
    color: #1B3764;

    width: 325px;
}

.article__item__subtitle {
    font-family: 'Inter';
    font-size: 19px;
    line-height: 30px;
    color: #969AA0;

    width: 338px;
    margin-top: 20px;
}

.article__item__end {
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    margin-top: 16px;
}

.article__item__end button {
    font-family: 'Cardo';
    font-size: 19px;
    letter-spacing: 0.38px;
    color: #1B3764;
    border: 0px;
    border-bottom: 1px solid #1B3764;
    background: white;
}

.article__item__end button:hover {
    border-bottom: 1px solid #235fbe;
    color: #235fbe;
}

.article__item__end button:focus {
    border: 1px solid black;
}

.article__data {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 26px;
    color: #1B3764;

    margin-right: 36px;
}

.article__desc {
    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding-left: 28px;
    padding-top: 25px;

    height: 272px;
    margin-top: -5px;
}

@media (max-width:1360px) {
    .article__list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .article__item {
        margin-top: 20px;
        margin-right: 0px;
    }

}

@media (max-width:490px) {
    .article__title {
        text-align: center;
    }

    .article__item {
        width: 80%;
    }

    .article__item img {
        width: 100%;
    }

    .article__item__title {
        width: auto;
    }

    .article__desc {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        height: auto;
    }

    .article__item__subtitle {
        width: auto;
    }

}

@media(max-width:390px) {
    .article button {
        width: 160px;
    }

    .article__item__end {
        flex-direction: column;
        align-items: center;
    }
}